@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #fff;
  --color-base-200: #eef0f2;
  --color-base-300: #dcdee0;
  --color-base-content: #1e2328;
  --color-primary: #167bff;
  --color-primary-content: #fff;
  --color-secondary: #9c5de8;
  --color-secondary-content: #fff;
  --color-accent: #00d3bb;
  --color-accent-content: #f3fbf6;
  --color-neutral: #1e2832;
  --color-neutral-content: #fafcff;
  --color-info: #14b4ff;
  --color-info-content: #fff;
  --color-success: #0bbf58;
  --color-success-content: #fff;
  --color-warning: #f5a524;
  --color-warning-content: #150a00;
  --color-error: #f31260;
  --color-error-content: #fff;
  --color-price-low: oklch(80% 0.114 19.571);
  --color-price-medium: oklch(92% 0.12 95.746);
  --color-price-high: oklch(87% 0.15 154.449);
  --color-price-rich: oklch(81% 0.111 293.571);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --root-bg: #121416;
  --layout-sidebar-background: #181c20;
  --layout-topbar-background: #181b1f;
  --rounded-box: 0.25rem;
  --card-p: 20px;
  --card-fs: var(--text-base);

  --root-bg: #fafbfc;
  --layout-sidebar-background: #fff;
  --layout-topbar-background: #fff;
  --rounded-box: 0.25rem;
  --card-p: 20px;
  --card-fs: var(--text-base);
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: false;
  color-scheme: dark;
  --color-base-100: #181c20;
  --color-base-200: #22262a;
  --color-base-300: #2c3034;
  --color-base-content: #f0f4f8;
  --color-primary: #378dff;
  --color-primary-content: #fff;
  --color-secondary: #b071ff;
  --color-secondary-content: #fff;
  --color-accent: #00d3bb;
  --color-accent-content: #f3fbf6;
  --color-neutral: #dce1e6;
  --color-neutral-content: #1e2832;
  --color-info: #14b4ff;
  --color-info-content: #fff;
  --color-success: #0bbf58;
  --color-success-content: #fff;
  --color-warning: #f5a524;
  --color-warning-content: #150a00;
  --color-error: #f31260;
  --color-error-content: #fff;
  --color-price-low: oklch(52% 0.13 19.571); /* тёплый оранжеватый */
  --color-price-medium: oklch(55% 0.14 95.746); /* мягкий салатовый */
  --color-price-high: oklch(50% 0.15 154.449); /* зелёно-бирюзовый */
  --color-price-rich: oklch(48% 0.14 293.571); /* фиолетовый */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --root-bg: #141618;
  --layout-sidebar-background: #181c20;
  --layout-topbar-background: #181b1f;
  --rounded-box: 0.25rem;
  --card-p: 20px;
  --card-fs: var(--text-base);
}

@layer utilities {
  .menu {
    --menu-active-fg: var(--color-base-content);
    --menu-active-bg: var(--color-base-300);
    font-size: 0.875rem;
  }
}

@layer components {
  .table-compact {
    border-radius: 10px;
  }

  .table-compact th,
  .table-compact td {
    padding: 1px;
    border: 1px solid var(--color-base-200);
    text-align: center;
    font-size: var(--text-xs);
  }

  .table-compact thead {
    background-color: var(--color-base-100);
  }

  .table-compact thead th {
    text-align: center;
    border-top: none;
  }

  .table-compact thead th:first-child {
    border-left: none;
  }

  .table-compact thead th:first-child,
  .table-compact thead th:last-child,
  .table-compact tbody th,
  .table-compact tfoot th {
    text-align: left;
    position: sticky;
    z-index: 2;
    left: 0;
    background-color: var(--color-base-100);
    padding-left: 5px;
    border-left: none;
    opacity: 1 !important;
  }

  .table-compact tfoot th {
    background-color: var(--color-base-200);
    font-size: var(--text-xs);
  }

  .table-compact tfoot td {
    border-right: var(--color-base-100);
    font-size: var(--text-xs);
  }

  .table-compact tfoot tr {
    text-align: left;
    position: sticky;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: var(--color-base-200);
    padding-left: 5px;
    border-left: none;
    opacity: 1 !important;
  }

  .table-compact thead tr:last-child th {
    position: sticky;
    z-index: 1;
    top: -1px;
    background-color: var(--color-base-100);
    border-top: none;
  }

  .table-compact tbody tr:hover > :not(th) {
    opacity: 0.75;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .bg-root {
    background-color: var(--root-bg);
  }

  .bg-price-low {
    background-color: var(--color-price-low);
  }

  .bg-price-medium {
    background-color: var(--color-price-medium);
  }

  .bg-price-high {
    background-color: var(--color-price-high);
  }

  .bg-price-rich {
    background-color: var(--color-price-rich);
  }

  .svg-accent {
    color: var(--color-accent);
  }
}
