@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap&subset=cyrillic');

:root {
  font-family: 'Anonymous Pro', monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE Ð¸ Edge */
  scrollbar-width: none; /* Firefox */
}
